// weibo.com
#__sidebar,
.wbpro-side-main {
  display: none !important;
}

// s.weibo.com
#pl_feed_main .main-side {
  display: none !important;
}
#pl_common_scrollToTop .m-gotop {
  right: unset !important;
  left: calc(50vw + 566px) !important;
}
